include cv-mixins.pug

#main
  .main-block
    h2 #[i.fa.fa-graduation-cap] Education
    
    +item("GCSE's", "Secondary School", "Bayhouse School", "2010", "2015")
      .description Average grade of a B accross the board with A's in English and Maths
      
    +item("Level 3 Diploma in Gaming and Computing", "College", "Fareham College",  "2015", "2016")
      .description Computing Course Focusing on Gaming With Units in Software and Web Development
    
    +item("Level 3 Extended Diploma in IT and Telecomms", "Apprenticeship", "3aaa Apprenticeships", "2016", "2017")
      .concise
        :markdown-it
          This course included multiple important units:
          - Networking
          - Software Development
          - IT Support
          - Formal Documentation
    
    +item("Agile Training", "Training Course", "Ripple Rock", "2017")
      .description A 2 week intensive course in the implimentation of Agile and Scrum

  .main-block
    h2 #[i.fa.fa-suitcase] Experiences
    
    +item("Software Tester", "AST Systems", "Eastleigh", "2016", "2017")
      :markdown-it
        - Manual Software Testing
        - Development of Automated Tests
        
    +item("Junior Software Developer", "SupplyPoint", "Porchester", "2017", "2019")
      :markdown-it
        - Fully Stack Development with C# and Javascript
        - UI Design using the ReactJS Framework
        - Development of REST API's
        
    +item("Application Systems Specialist", "toob", "Cosham", "2019", "Present")
      :markdown-it
        - Integration of 3rd Party API's
        - Integration of ACS and other 3rd Party Systems to Support a Network
        - Development of Custom DLL's and Plugins for a .NET based Platform
        
  .main-block
    h2 #[i.fa.fa-folder-open] Skills and Projects

    +item("Back-End Development", "C#, .NET Core, Python and NodeJS")
      :markdown-it
        - Strong Knowledge of Database Interaction using Dapper, EntityFramework and ADO.NET
        - Experence Developing RESTful API's
        - Focus in Webfacing Applications but Strong Knowledge of Client Side Development Too
        - Cross Platform Development Including Docker, Linux and Windows

    +item("Front-End Development", "C#, .NET Core, Python and NodeJS")
      :markdown-it
        - Vast Knowledge of of Javascript and JS Frameworks such as React and Jquery
        - Able to Build Fast and Efficient Cross Platform Applications using Electron
        - UI and UX Design for Both Desktop and Mobile Browsers

    +item("Development Environments", "Other Development Related Skills")
      :markdown-it
        - Strong Knowledge of Git and Git Based Version Control Systems
        - Well Versed in the use of Visual Studio and VSCode
        - Able to Work in Both Windows and Linux without Issue
        - Good with Networking and Server Maintenance
    
    +item("Hypercube", "Custom 3D printer")
      .concise
        :markdown-it
          - Built Custom Frame 
          - All Custom Cabling
          - Custom Built Firmware Modified to Fit Needs
          - Lots of Future Modifications Planned

#sidebar
  .name Logan Young
  .subtitle Software Developer
  #contact.side-block
    hr
    ul
      li #[i.fa.fa-github] github.com/IllusiveBagel
      li #[i.fa.fa-linkedin] linkedin.com/in/lky
      li #[i.fa.fa-envelope] logan@neutral.systems
      li #[i.fa.fa-phone] 07446696964
    hr
  
  //- This points to mnjul's original resume project
  #disclaimer.side-block.
      CV code available at: https://github.com/IllusiveBagel/CV

style
  include:scss cv.scss
