include cv-mixins.pug

#page
    #main
        .main-block
            .main-title #[i.fa.fa-code] About Me

            +desc()
                :markdown-it
                    To date, my career has been within manufacturing companies and I have been working with backend IT system, specifically SQL based systems and databases. Throughout my work I have realised that the computing aspects of my roles were the ones I enjoyed the most. With this I have decided to be entirely software base and at a much deeper level. I want to be able to develop and build the software and these systems, rather than just installing and managing something built by someone else. 

                    I finished studying a Full Stack Web Developer course with the Code Institute, looking at front-end and back-end web design, and managed to get a starter junior position. I am looking for a new place of work to enjoy and continue my training to develop my skills. I have always worked in roles that look at further developing the company and improving things to make people's jobs easier and give a more efficient outcome. 


        .main-block
            h2 #[i.fa.fa-suitcase] Employment History

            +item("Web Developer", "AutoProtect Group", "Leeds", "Present", "March 2024")
                :markdown-it
                    At Autoprotect I was tasked with the development of a user friendly and modern
                    webapp built using ReactJS and Redux. 

                    My tasks included the development of business logic using React and integrating 
                    with REST API's and creating a clean and user friends UI using a mix of Material-UI 
                    and custom CSS. I also played a key role in managing piplines and deployments for
                    production releases.

                    #### Skills Used
                    - Front-End Development with ReactJS
                    - State Management with Redux
                    - Management of Gitlab Piplines 
                    - UI Design with Material-UI

            +item("Junior Web Developer", "AutoProtect Group", "Leeds", "March 2024", "Sept 2021")
                :markdown-it
                    My role at MI-Voice was to help improve and modernise their voting
                    platform. The platform is built in 3 sections that each involved
                    different skills.

                    My tasks involved the use of multiple systems including a REST API
                    built in C# and .NET Core and a CMS using Sanity that was used to
                    create NextJS sites that used ReactJS components that provided a
                    modern and response feel to the end user.

                    #### Skills Used 
                    - Front-End Development with ReactJS 
                    - Back-End Development with C#
                    - Database interaction with EntityFramework
                    - CMS Development using Sanity

            +item("Junior Web Developer", "fidomoney", "York", "Sept 2021", "Jun 2021")
                :markdown-it
                    - Using an Agile working method in a team to further develop existing software in house
                    - Learning PHP and using Laravel framework to make changes to the backend app.
                    - Using Wordpress to change and update the customer facing website.
                    - Working as part of a team to understand the needs of the product for the business and implementing the correct changes. 

            +item("Web Application Developer", "LBT Computer Services", "Remote", "Jun 2021", "Jan 2021")
                :markdown-it
                    - Working with Java Server Pages and Java to make changes to a Web Application.
                    - Using HTML and JavaScript to add new features to the application.               

    +sidebar

#page
    #main
        .main-block
            h2 #[i.fa.fa-suitcase] Experiences
            +item("Technical System Engineer", "Wilson Power Solutions", "Leeds", "Jan 2021", "October 2020")
                :markdown-it
                    - Working on improving the current excel costing sheet.
                    - Adding new functionality and automation to the sheet
                    - Making changes to a VB.Net application to speed up SQL query operations.

            +item("SAP Implementation", "Really Useful Products", "Castleford", "July 2020", "April 2019")
                :markdown-it
                    - Starting to put in place processes to use SAP B1 for manufacturing in house.
                    - Working with the purchasing department to create stock items on the system and be able to see stock levels and control re-order levels and stock value. 
                    - Installing a new time management system and developing this to give control and ease to data going into payroll.
                    - Helping payroll enter data into sage for sicknesses and ensure people were paid correctly.

            +item("ERP System Manager", "Harvard Technology", "Normanton", "Dec 2018", "Jan 2018")
                :markdown-it
                    - Managing the ERP System in house and being main point of contact with external software house.
                    - Testing new updates and working to get these installed and pushed out quickly and with no downtime.
                    - Supporting and developing in house improvements. Talking with company-wide teams to see what they wanted and needed. Scoping these Improvements and writing things we could do in house or talking with the external team to build these and get them installed.
                    - SQL/HANA query writing and report writing to keep company reports up to date with the new system. 
    
            +item("Supply Chain Analyst", "Harvard Technology", "Normanton", "Dec 2017", "Sept 2016")
                :markdown-it
                    - Scope, Blueprint and installation of new SAP ERP system, mainly focusing on Warehouse Management System and transferring data over to the new system. 
                    - Working with the supply chain and warehouse teams to be able to monitor stock and apply processes to control the movement of stock. End of year stock take resulting in a less than 1% stock discrepancy.
                    - Analysing Data and building crystal reports suited for warehouse and supply chain, to give a full view of data in the system and give them the information they needed easily.
            
            +item("Lean Engineer", "Harvard Technology", "Normanton", "Aug 2016", "Feb 2014")
                :markdown-it
                    - Run Kaizen events to change and improve production and warehouse 
                    - Monitoring and applying new ideas to engineering change.
            
            +item("Inventory Control Manager", "Harvard Technology", "Normanton", "Jan 2014", "July 2013")
                :markdown-it
                    - Working with quality to install better storage of material
                    - Keeping stock accuracy high to make sure no downtime for lost parts.

        .main-block
            h2 #[i.fa.fa-graduation-cap] Education & Training
    
            +item("Diploma in Software Development", "Online Course", "Code Institute", "2020", "2021")
                :markdown-it
                    Put something here?
      
            +item("Forensic Science and Criminal Investigation BSc (Hons) 2:1", "University", "University of Central Lancashire",  "2010", "2013")
                :markdown-it
                    Put something here?
    
            +item("A Levels?", "-", "-", "-", "-")
                .concise
                    :markdown-it
                        Put something here?
    
            +item("GCSE's", "-", "-", "-")
                :markdown-it
                    Put something here?

    +sidebar

#page
    #main 
        .main-block
            h2 #[i.fa.fa-folder-open] Skills and Projects
            
            +item("Front-End Development", "ReactJS, Typescript, Redux")
                :markdown-it
                    - Vast Knowledge of Javascript and JS Frameworks such as React and Jquery
                    - Able to Build Fast and Efficient Cross Platform Applications using Electron
                    - UI and UX Design for Both Desktop and Mobile Browsers
                    - Stong knowledge on the use of Typescript in conjuction with ReactJS

            +item("Mobile Development", "React-Native")
                :markdown-it
                    - Stong use of React-Native and Expo to build Mobile Apps 
                    - Able to use a vast amount of industry standard frameworks to build cross-platform apps

            +item("Development Environments", "Other Development Related Skills")
                :markdown-it
                    - Strong Knowledge of Git and Git Based Version Control Systems
                    - Well Versed in the use of Visual Studio and VSCode
                    - Able to Work in Both Windows and Linux without Issue
                    - Good with Networking and Server Maintenance
            
            +item("Hypercube", "Custom 3D printer")
                :markdown-it
                    My lockdown project was to create a 3D printer I can use to help with future projects.
                    This used a wide range of skills to get done, some of which I learnt along the way. The 
                    whole project took around 4 months but I am now very happy with the outcome and I have 
                    now started to use the printer for lots of new projects.

            +item("DBML Docs", "Open Source Project")
                :markdown-it
                    I have recently released a beta version of an open source database documentation software.
                    The software uses the DBML standard to generate a database documentation site based on a
                    .DBML file. My goals with the project was to create a tool I can use myself for other 
                    projects I have planned but I was so happy with the end result that I decided to make the 
                    project public. The software is completely written in ReactJS and my plan is to make it more 
                    community driven in the future.

    +sidebar

style
    include:scss cv.scss